body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(./images/jeopardy_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#start-screen,
#game-board {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #333;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.categories-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-cell,
.question-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  text-align: center;
}

.category-cell {
  background-color: rgba(255, 255, 255, 0.3);
}

.question-cell {
  background-color: rgba(255, 255, 255, 0.7);
}

.question-row {
  display: flex;
}

.player-scores {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.player-score {
  margin: 0 10px;
}

.question-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.player-info {
  font-weight: bold;
}

.category-cell {
  font-weight: bold;
}

.question-cell div {
  font-weight: bold;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
}

.question-cell.already-played {
  background-color: #333;
}

.question-cell.already-played button {
  display: none;
}

.question-cell.already-played p {
  color: red;
  margin: 0;
}

input {
  margin: 0 20px;
}

.answer-button {
  width: calc(
    min(500px, 49%)
  ); /* Hier 200px als Beispiel für den festen Wert */
}

.answer-button-temp {
  position: absolute;
  visibility: hidden;
}

.answer-button:disabled {
  cursor: not-allowed;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
}