body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(./images/jeopardy_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#start-screen,
#game-board {
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Halbtransparenter Hintergrund */
  border: 2px solid #333; /* Schwarzer Rahmen */
  padding: 20px;
  border-radius: 10px; /* Abgerundete Ecken */
  margin: 20px; /* Abstand zum Rand */
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.categories-row {
  display: flex;
}

.category-cell,
.question-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  text-align: center;
}

.question-row {
  display: flex;
}

.player-scores {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.player-score {
  margin: 0 10px;
}

.question-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
}

.player-info {
  font-weight: bold;
}

.category-cell {
  font-weight: bold;
}

.question-cell div {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
}
